{% extends 'home/base.html' %}

{% block content %}
<hr>
  
<!-- Menu Section -->
<div class="w3-row w3-padding-64" id="menu">
  <div class="w3-col l6 w3-padding-large">
    <h1 class="w3-center">POST LIST</h1><br>
    
    {% for item in post_list  %}
        <a href='{% url "blog:detail" item.id %}'><h4>{{item.title}}</h4></a>
        <p class="w3-text-grey">{{item.summary}}</p><br>
    {% endfor %}

  </div>
  
  <div class="w3-col l6 w3-padding-large">
    <img src="/w3images/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
  </div>
</div>
{% endblock %}
    